.header-container{
    
/* display: flex;
justify-content: space-between; */

}
.mobile-responsive-header{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    

}
.sub-header-container{
    padding: 2vh 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.mycart_button{
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 2vh;
    color: white;
}

.Search-bar .css-2a7nsh-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 15px !important;
    background-color: rgb(250, 250, 250);
    width: 40vw;

}


@media (max-width: 979px){
   
        .mobile-responsive-header{
            display: flex;
            flex-direction: row;
            gap: 10vw;
            justify-content: space-between;
            /* flex-wrap: wrap; */
            /* width: 100%; */
    
    }
    .sub-header-container{
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        /* width: 100vw; */
    }

    
    .Search-bar .css-2a7nsh-MuiInputBase-root-MuiOutlinedInput-root{

        width: 96vw;
    }
    

}